 {% extends 'base.html' %}

 {% block title %} Minha conta {% endblock %}

{% block container %}
 <!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'account:index' %}" >Minha Conta</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'account:update_user' %}" >Alterar Dados</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../address/" >Endereço</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'account:update_password' %}">Alterar Senha</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'checkout:order_list' %}">Meus Pedidos</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="col-md-12">
                {% block account_container %}
                    <h2 style="text-align: center;">Bem vindo(a) {{ user.name }}</h2>
                {% endblock %}
            </div>
				</div>

			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->
{% endblock %}