{% extends "base.html" %}


{% block title %}
    Registro | {{ block.super }}
{% endblock %}

{% block container %}
<style>
    input{
        display: block;
        width: 100%;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        font-family: inherit;
        border-radius: 6px;
        -webkit-appearance: none;
        color: black;
        border: 1px solid var(--input-border);
        background: #f1f6f7;
        transition: border .3s ease;
    }
</style>
<!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img" style="height: 697px;">
						<div class="hover">
							<h4>Already have an account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="{% url 'login' %}">Login</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Criar sua conta</h3>
						<form class="row login_form" method="post">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% for field in form %}
                            <div class="col-md-12 form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.auto_id }}" class="col-md-12 control-label">{{ field.label }}</label>
								 {{ field }}
							</div>
                            {% endfor %}

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">Criar sua conta</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}