pagseguro
django-paypal
Django
virtualenv
pytz
easy-thumbnails
Pillow
gunicorn
pipenv
psycopg2
pytz
reverse
whitenoise
model-mommy
django-crispy-forms
django-heroku
dj_database_url
dj-static
Unipath
python-decouple
Markdown
bleach
python-decouple
django-watson