pagseguro==0.3.2
django-paypal
Django==2.1.3
virtualenv==16.1.0
pytz==2018.5
easy-thumbnails==2.5
Pillow==5.2.0
gunicorn==19.9.0
pipenv==2018.7.1
psycopg2==2.7.5
pytz==2018.5
reverse==0.1.0
psycopg2-binary==2.7.5
whitenoise==3.2
model-mommy==1.6.0
django-crispy-forms
django-heroku
dj_database_url
dj-static
Unipath
python-decouple
Markdown
bleach
python-decouple