pagseguro
django-paypal
virtualenv
pytz
easy-thumbnails
Pillow
gunicorn
pipenv
pytz
reverse
whitenoise
model-mommy
django-crispy-forms
dj_database_url
dj-static
Unipath
python-decouple
Markdown
bleach
python-decouple
django-watson
