{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
Carrinho de Compras
{% endblock %}

{% block container %}
<!--================Cart Area =================-->
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <form class="" action="" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                  <table class="table">
                      <thead>
                          <tr>
                              <!--<th scope="col">ID</th>-->
                              <th scope="col">Produto</th>
                              <th scope="col">Preço</th>
                              <th scope="col">Quantidade</th>
                              <th scope="col">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for form in formset %}
                          <tr>
                              <!--<td>{{ form.instance.product.pk }}</td>-->
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                          <img class="img-fluid" src="{{ form.instance.product.image|thumbnail_url:'product_image' }}" alt="">
                                      </div>
                                  </div>

                              </td>
                              <td>
                                  <h5> R$ {{ form.instance.price|floatformat:"2" }}</h5>
                              </td>
                              <td>
                                  {{ form.quantity }}
                              </td>
                              <td>
                                  <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm">remover</button>
                            {{ form.id }}
                              </td>
                          </tr>


                      {% endfor %}
                      </tbody>
                  </table>
                      <table class="table">
                      <tr class="bottom_button">
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                              </td>
                              <td>
                              </td>
                              <td>

                              </td>
                          <td>
                              <div class="cupon_text d-flex align-items-center col-md-12">
                                      <a class="primary-btn" href="{% url 'catalog:product_list' %}">Continuar</a>
                                      <button type="submit" class="button" name="button">Atualizar</button></li>
                                      <a class="primary-btn" href="{% url 'checkout:checkout' %}">Finalizar</a>
                                  </div>
                          </td>
                          </tr>
                      </table>
                  </form>
                  <p style="color: blue; text-align: right;"><b>Este site é um sistema demonstrativo, não efetue compras nele.</b></p>
              </div>
          </div>
      </div>
  </section>
  <!--================End Cart Area =================-->
{% endblock %}