{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block container %}
<!--================Checkout Area =================-->
  <section class="checkout_area section-margin--small">
    <div class="container">
        <div class="returning_customer">
            <div class="check_title">
                <h2>Pagar com Pagseguro </h2>
            </div>
            <br>
                <div class="col-md-12 form-group">
                    <a href="{% url 'checkout:pagseguro_view' order.pk %}"><button type="submit" value="submit" class="button button-login">Pagar com Pagseguro</button></a>
                </div>
        <p style="color: blue;"><b>Este site é um sistema demonstrativo, não efetue compras nele.</b></p>
        </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->
{% endblock %}