{% extends "base.html" %}


{% block title %}
    Entrar | {{ block.super }}
{% endblock %}

{% block container %}
<style>
    input{
        display: block;
        width: 100%;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        font-family: inherit;
        border-radius: 6px;
        -webkit-appearance: none;
        color: black;
        border: 1px solid var(--input-border);
        background: #f1f6f7;
        transition: border .3s ease;

    }
</style>
<!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="{% url 'account:register' %}">Criar sua conta</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Entrar</h3>
						<form class="row login_form" method="post" >
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
							<div class="col-md-12 form-group">
								{{ form.as_p }}
                                {% for error in form.username.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Entrar</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}