<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}E-commerce{% endblock %}</title>
	<link rel="icon" href="{% static 'assets/img/Fevicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<style>
		.logo_ecommerce {
			max-width:115px;
			max-height:150px;
			width: auto;
			height: auto;
			margin-left: 50%;
		}
	</style>
</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" style="margin-left: -6%;" href="{% url 'index' %}"><img class="logo_ecommerce" src="{% static 'assets/img/logo_ecommerce2.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Início</a></li>
              <li class="nav-item submenu dropdown">
                <a href="{% url 'catalog:product_list' %}" class="nav-link" role="button">Produtos</a>
							</li>
              <li class="nav-item submenu dropdown">
                <a href="{% url 'catalog:product_list' %}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Categorias</a>
                <ul class="dropdown-menu">
					{% for category in categories %}
                  <li class="nav-item"><a class="nav-link" href="{{ category.get_absolute_url }}">{{ category }}</a></li>
					{% endfor %}
                </ul>
							</li>

              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contato</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">|</a></li>
              {% if user.is_authenticated %}
				<li class="nav-item"><a class="nav-link"><b style="text-transform: none;">Bem vindo(a): {{ user.username }}</b></a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'account:index' %}" style="color: green;">Conta</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" style="color: green;">Sair</a></li>
                  {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
                  <!--<li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}">Cadastro</a></li>-->
              {% endif %}
            </ul>

            <ul class="nav-shop">
              <li class="nav-item">
				  <form class="navbar-form navbar-left" role="search" action="{% url 'catalog:product_list' %}">
	        <div class="form-group">
	          <input style="margin-top: 8%;" name="q" type="text" class="form-control" placeholder="Pesquisar..." />
	        </div>
	      </form>
			  </li>
              <li class="nav-item"><a href="{% url 'checkout:cart_item' %}"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle"></span></button></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
		<div class="container margin-top">
    <br>
        {% block messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}

        {% endblock %}
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

  {% block container %}{% endblock %}

	<br><br>
  <!--================ Start footer Area  =================-->
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Sobre</h4>
							<p style="text-align: justify;">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Menu</h4>
							<ul class="list">
								<li><a href="{% url 'index' %}">Início</a></li>
								<li><a href="{% url 'catalog:product_list' %}">Produtos</a></li>
								<li><a href="{% url 'contact' %}">Contato</a></li>
								<li><a href="{% url 'login' %}">Entrar</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Instagram</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<li><img src="{% static 'assets/img/gallery/r1.jpg' %}" alt=""></li>
								<li><img src="{% static 'assets/img/gallery/r2.jpg' %}" alt=""></li>
								<li><img src="{% static 'assets/img/gallery/r3.jpg' %}" alt=""></li>
								<li><img src="{% static 'assets/img/gallery/r5.jpg' %}" alt=""></li>
								<li><img src="{% static 'assets/img/gallery/r7.jpg' %}" alt=""></li>
								<li><img src="{% static 'assets/img/gallery/r8.jpg' %}" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contato</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Escritório
								</p>
								<p>Boa Vista - Roraima, 232</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Telefone
								</p>
								<p>
									(95) 98818-9425
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									maurodenison@gmail.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->



  <script src="{% static 'assets/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'assets/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'assets/vendors/mail-script.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>