{% extends "base.html" %}

{% load pagination %}

{% block title %}
    {{ current_category }} | {{ block.super }}
{% endblock %}

{% block container %}


    <section class="section-margin--small mb-5">

        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-filter">
                </div>
              </div>
            </div>

            <div class="col-xl-12 col-lg-8 col-md-7">
                <h1>{{ current_category }}</h1><br><br>
              <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    {% for product in product_list %}
                    {% include "catalog/_product.html" %}
                    {% endfor %}
                </div>
              </section>
              <!-- End Best Seller -->
            </div>
          </div>
        </div>
    </section>
    {% pagination request paginator page_obj %}
{% endblock %}