{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
    {{ product }} | {{ block.super }}
{% endblock %}
{% load static %}
{% block container %}
    <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							{% if product.image %}
								<img class="img-fluid" src="{{ product.image|thumbnail_url:'product_image' }}" alt="">
							{% else %}
							<img class="img-fluid" src="{% static 'assets/img/category/s-p1.jpg' %}" alt="">
							{% endif %}
						</div>
						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ product }}</h3>
						<h2>R$ {{ product.price }}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Categoria</span> : {{ product.category }}</a></li>
						</ul>
						<p>{{ product.description }}</p>
						<div class="product_count">
							<a class="button primary-btn" href="{% url 'checkout:create_cartitem' product.slug %}">Adicionar ao Carrinho</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->
{% endblock %}